.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/e797cc5860c6a5fabc4a2467225ac448212a904ed3c3778c779f02321d6b060a5ea524d78220e95f5ac40131aa69bbbe8089a3c4bcec3242b4ac0b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1-1 .u-text-1 {
  font-family: "Open Sans";
  font-size: 6rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  margin: 186px 0 0;
}

.u-section-1-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-block-99a9-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 37px;
}

.u-block-99a9-3 {
  position: absolute;
  left: 0;
}

.u-block-99a9-4 {
  position: absolute;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 659px;
}

.u-section-2 .u-list-1 {
  width: 1217px;
  grid-template-rows: auto;
  margin: 80px -31px 50px -46px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 529px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-2 .u-image-1 {
  height: 249px;
  margin: 7px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 13px 30px;
}

.u-section-2 .u-image-2 {
  height: 249px;
  margin: 7px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 13px 30px;
}

.u-section-2 .u-image-3 {
  height: 249px;
  margin: 7px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 366px;
  }

  .u-section-2 .u-image-1 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 841px;
  }

  .u-section-2 .u-image-1 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 374px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 374px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 374px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
  min-height: 801px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 700px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 73px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  font-family: "Open Sans";
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  margin: 31px 26px 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 672px;
  background-image: url("images/cdde4ccf44ebdfb624566ef97b6c99ab8cf0c0be25a23402167df23efc340dc3df511fcda9ac5a59cbd69f2bd4692059d5a21cbc15878fe8c6f4af_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 805px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 685px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 719px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 599px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1135px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 547px;
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1030px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 344px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 781px;
}

.u-section-4 .u-image-1 {
  height: 558px;
  filter: brightness(0.6);
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.2;
  font-size: 6rem;
  font-weight: 700;
  margin: -481px 170px 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: none;
  width: 725px;
  margin: 25px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 56px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 365px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 91px;
  width: 91px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 91px;
  width: 91px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 91px;
  width: 91px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 582px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    line-height: 1;
    width: 464px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 443px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1130px;
  margin: 72px auto 60px -24px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(16.6667% - 53.3333px) calc(16.6667% - 53.3333px) calc(16.6667% - 53.3333px) calc(16.6667% - 53.3333px) calc(16.6667% - 53.3333px) calc(16.6667% - 53.3333px);
  grid-gap: 64px 64px;
  min-height: 311px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-5 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/Advay.PNG");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-5 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/disha.jpeg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 10px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-5 .u-image-3 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/sreenidhi.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 10px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-5 .u-image-4 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Lauren.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 10px auto 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-5 .u-image-5 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Ronald.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-10 {
  margin: 10px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-5 .u-image-6 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Xiaofan.JPG");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-12 {
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 259px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 794px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 32px) calc(50% - 32px);
    min-height: 1340px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}