.u-section-1 {
  min-height: 1597px;
}

.u-section-1 .u-image-1 {
  width: 1125px;
  height: 631px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 562px;
  min-height: 595px;
  margin: -542px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Merriweather, serif;
  margin: 46px 25px 0 33px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 25px 33px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1493px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 527px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -551px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1370px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 404px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1269px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}