<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Our Team">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Our Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='Our-Team.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='nicepage.js') }}" defer=""></script> 
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Our Team">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-header" id="sec-de90"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('home') }}"  style="padding: 10px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('motive') }}"  style="padding: 10px 0px;">Our Motive</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('team') }}" style="padding: 10px 0px;">Our Team</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('process') }}" style="padding: 10px 0px;">Our Process</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="https://www.ai-camp.org/" style="padding: 10px 0px;">AI Camp</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 10px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Our-Motive.html" style="padding: 10px 0px;">Our Motive</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Our-Team.html" style="padding: 10px 0px;">Our Team</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Results.html" style="padding: 10px 0px;">Results</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Our-Process.html" style="padding: 10px 0px;">Our Process</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-custom-color-3 u-section-1" id="carousel_443e">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <h1 class="u-text u-text-1">Our Team</h1>
        <p class="u-text u-text-2">This team of 6 young programmers developed and executed this idea. The endeavor was their first major AI Project, and helped inspire their passion for technology.</p>
        <div class="u-expanded-width-xl u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img class="u-image u-image-1" src="{{ url_for('static', filename='images/Lauren.jpg') }}" data-image-width="900" data-image-height="912">
                <div class="u-container-style u-group u-white u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <h4 class="u-align-left u-text u-text-default u-text-6">lauren park</h4>
                    <h6 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-custom-color-1 u-text-4">programmer</h6>
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-5">Lauren is a rising freshman at Mountain View High School who loves learning math and science. She is a skilled Python programmer, volleyball athlete, and piano player.</p>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-image u-image-2" src="{{ url_for('static', filename='images/disha.jpeg') }}">
                <div class="u-container-style u-group u-white u-group-2">
                  <div class="u-container-layout u-container-layout-4">
                    <h4 class="u-align-left u-text u-text-default u-text-6">disha gupta</h4>
                    <h6 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-custom-color-1 u-text-7">developer</h6>
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-8">Disha Gupta is a rising eighth-grader at The Harker School who is passionate about science and technology. She is a state-certified level 7 piano player and plays competitive basketball. Disha enjoys coding in HTML, JS, and Python. During her three weeks at AI Camp, she worked on labeling and preparing data with functions, programming the AI, and developing the front-end of the website. This camp helped inspire her and she hopes to continue making large societal impacts with the skills she has learned.</p>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-image u-image-2" src="{{ url_for('static', filename='images/Xiaofan.JPG') }}">
                <div class="u-container-style u-group u-white u-group-2">
                  <div class="u-container-layout u-container-layout-4">
                    <h4 class="u-align-center u-text u-text-default u-text-6">xiaofan li</h4>
                    <h6 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-custom-color-1 u-text-7">programmer</h6>
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-8">Xiaofan is a rising sophomore at Desert Vista. He enjoyed learning more about AI and gaining some experience in coding AI programs. He plans to take computer science in college.
 
</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <img class="u-image u-image-4" src="{{ url_for('static', filename='images/Ronald.jpg') }}">
                <div class="u-container-style u-group u-white u-group-4">
                  <div class="u-container-layout u-container-layout-8">
                    <h4 class="u-align-left u-text u-text-default u-text-12">ronald liu</h4>
                    <h6 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-custom-color-1 u-text-13">website designer</h6>
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-14">A rising sophomore at Leland High School. Enjoys video games, swimming, and drawing in his free time. 
</p>
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-9">
                <img class="u-image u-image-5" src="{{ url_for('static', filename='images/sreenidhi.jpg') }}">
                <div class="u-container-style u-group u-white u-group-5">
                  <div class="u-container-layout u-container-layout-10">
                    <h4 class="u-align-left u-text u-text-default u-text-15">sreenidhi challagundla</h4>
                    <h6 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-custom-color-1 u-text-16">website designer</h6>
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-17">Sreenidhi is a rising sophomore at Cupertino High School with a passion for coding. She recently earned her first degree black belt in taekwondo, a form of martial arts, and she has been programming for around 2 years, primarily in JavaScript in Java. She helped build the project by labeling data, writing functions for model training, as well as programming the back-end of the website, during her 3 weeks at AI Camp. With newly-found interest in AI, she now hopes to delve deeper and design even more products with AI!
</p>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-11">
                <img class="u-image u-image-6" src="{{ url_for('static', filename='images/Advay.PNG') }}">
                <div class="u-container-style u-group u-white u-group-6">
                  <div class="u-container-layout u-container-layout-12">
                    <h4 class="u-align-left u-text u-text-default u-text-18">Advay Aravind</h4>
                    <h6 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-custom-color-1 u-text-19">Programmer</h6>
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-20">Advay is a rising sophomore at Mitty High School. He really enjoys making an impact on society, so the chance to collaborate with others to create a machine learning algorithm that had the potential to help farmers was a great opportunity. Combined with his passion for programming, AI, and learning, the overall experience, from helping to program the backend of the website and the machine learning model to understanding how neural networks work was great. Advay hopes to continue developing the machine learning model to increase its accuracy.</p>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-13">
                <img class="u-image u-image-7" src="{{ url_for('static', filename='images/jessica.jpg') }}">
                <div class="u-container-style u-group u-white u-group-7">
                  <div class="u-container-layout u-container-layout-14">
                    <h4 class="u-align-left u-text u-text-default u-text-21">jessica wang</h4>
                    <h6 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-custom-color-1 u-text-22">Instructor</h6>
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-23">Jessica is a rising sophomore at Carnegie Mellon University pursuing a BS in computer science. </p>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>