<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Selecting our Project, Collecting Data, Training our Model, Testing our Model">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Our Process</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='Our-Process.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='nicepage.js') }}" defer=""></script> 
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Our Process">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-header" id="sec-de90"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('home') }}" style="padding: 10px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('motive') }}" style="padding: 10px 0px;">Our Motive</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('team') }}" style="padding: 10px 0px;">Our Team</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('process') }}" style="padding: 10px 0px;">Our Process</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-palette-4-dark-2 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="https://www.ai-camp.org/" style="padding: 10px 0px;">AI Camp</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('home') }}" style="padding: 10px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('motive') }}" style="padding: 10px 0px;">Our Motive</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('team') }}" style="padding: 10px 0px;">Our Team</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('process') }}" style="padding: 10px 0px;">Our Process</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-expand-resize u-valign-bottom u-white u-section-1" id="carousel_2f4b">
      <div class="u-container-style u-custom-color-3 u-group u-group-1">
        <div class="u-container-layout u-container-layout-1"></div>
      </div>
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-expand-resize u-layout-cell u-left-cell u-size-29 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-2">
                <h1 class="u-custom-font u-font-roboto-condensed u-text u-text-custom-color-3 u-text-1">Selecting our Project</h1>
                <p class="u-text u-text-grey-50 u-text-2">Each member of this project put forth some ideas. Once we had a collection of ideas, we narrowed it down to just a few, before voting on our final choice, which was a Corn Disease Identifier. You can learn more in our motives tab.&nbsp;</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-31 u-image-1" data-image-width="1280" data-image-height="851">
              <div class="u-container-layout u-container-layout-3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-2">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1500" data-image-height="1000">
              <div class="u-container-layout u-container-layout-4"></div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
              <div class="u-container-layout u-container-layout-5">
                <h1 class="u-custom-font u-font-roboto-condensed u-text u-text-custom-color-3 u-text-3">Collecting Data</h1>
                <p class="u-text u-text-grey-50 u-text-4">We used a Kaggle dataset to find images for diseased and healthy plants. Then, we labeled the images (we created 4,178 labels) to be used in training our model. More labeled images will be added as we  continue developing the model. &nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-3">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-33 u-layout-cell-5">
              <div class="u-container-layout u-container-layout-6">
                <h1 class="u-custom-font u-font-roboto-condensed u-text u-text-custom-color-3 u-text-5">Training our Model</h1>
                <p class="u-text u-text-grey-50 u-text-6">We used python to collect, prepare, and evaluate our data. We utilized YOLO, an object detection software, to do the final detections. We ran our labeled images through YOLO to train it to identify the different types of corn leaf diseases.</p>
              </div>
            </div>
            <div class="u-container-style u-custom-color-3 u-layout-cell u-size-27 u-layout-cell-6">
              <div class="u-container-layout u-container-layout-7">
                <img alt="" class="u-image u-image-default u-image-3" data-image-width="150" data-image-height="99" src="{{ url_for('static', filename='images/ced22778ed16b8a17a96c210f706694db90e174b954c8a1acc6289a061c29e7b0ac95402ff412e63b72945fbc9354eb8a9b8fbfb90e7221657f109_1280.jpg') }}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-4">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-7">
              <div class="u-container-layout u-container-layout-8">
                <img class="u-expanded-width u-image u-image-default u-image-4" src="{{ url_for('static', filename='images/82d68a4be543512e8e6da3bcd9d680d93b0387f20c13370431d90f39a24dcf8cc4609e0c82d073e8cb255706910adad6412ff6ea038ae08915ae8c_1280.jpg') }}" alt="" data-image-width="150" data-image-height="99">
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-8">
              <div class="u-container-layout u-container-layout-9">
                <h1 class="u-custom-font u-font-roboto-condensed u-text u-text-custom-color-3 u-text-7">Testing our Model</h1>
                <p class="u-text u-text-grey-50 u-text-8">Finally, we tested our model with the remaining data; by evaluating which images the model correctly and incorrectly identified, our program generated a confusion matrix to analyze our results. Then, we deployed the model.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>